@import "tailwindcss";

/* =====================
   LIGHT MODE
===================== */
:root {
  --background: #f4f6f8; /* nền tổng */
  --component: #ffffff; /* navbar, sidebar */
  --foreground: #171717;

  --component-hover: #b8b8b8; /* hover item */
  --accent: #6366f1; /* active item */
  --text: #7a7a7a;

  --primary: #3b82f6;
  --primary-foreground: #ffffff;

  --secondary: #f8f2f2;
  --secondary-foreground: #ffffff;
  --hover: #dbdbdb;
  --success: #22c55e;
  --warning: #eab308;
  --danger: #ef4444;
  --des: #123123;
  --border: #e5e7eb;
  --muted: #f3f4f6;
  --card: #f9fafb;
  --ring: #3b82f6;
}

/* =====================
   DARK MODE
===================== */
.dark {
  --background: #232229; /* nền ngoài (rất tối) */
  --component: #151419; /* navbar / sidebar */

  --foreground: #ededed;
  --component-hover: #444444;
  --text: #ffffff;
  --accent: #8a46ff;
  --hover: #252525;
  --primary: #60a5fa;
  --secondary: #252525;
  --des: #888888;
  --border: #303030;
  --muted: #1f2937;
  --card: #141414;
  --ring: #60a5fa;
}

/* =====================
   BASE
===================== */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
}

button {
  cursor: pointer;
}
